.about {
  text-align: left;
}

.title {
  margin-top: 55px;
}

.projects {
  text-align: left;
}

.projects_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
