.linkedin {
  margin: 15px 0;
  fill: var(--font-color);
  transform-origin: 50% 50%;
  transition: filter 0.5s ease, all 1s;
}

.linkedin:hover {
  filter: drop-shadow(0 0 5px var(--font-color));
  transform: scale(1.2);
}

.block {
  display: block;
  height: 50px;
}

@media screen and (max-width: 480px) {
  .block {
    height: 90px;
  }
}

@media screen and (min-height: 800px) {
  .block {
    height: 30px;
  }
}

@media screen and (min-height: 900px) {
  .block {
    height: 0;
  }
}
