.head {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.form_container {
  height: fit-content;
  width: 400px;
  margin-top: 60px;
  border-radius: 10%;
  padding: 20px 30px;
  border: 2px solid var(--border-color);
  text-align: left;
  transition: border 1s;
}

.label {
  font-size: 20px;
}

.input {
  background-color: var(--background-color);
  border: none;
  border-bottom: 2px solid var(--border-color);
  width: 100%;
  height: 50px;
  color: var(--font-color);
  padding: 5px 10px;
  margin-top: 20px;
  box-sizing: border-box;
  font-size: 17px;
  overflow-y: auto;
  transition: color 1s, background 1s, border-bottom 1s;
}

.input:focus {
  outline-width: 0;
  border-bottom-color: var(--input);
}

.input_message {
  padding: 15px 10px;
  height: 150px;
  resize: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.submit {
  margin-top: 15px;
  text-align: center;
}

.no_top_margin {
  margin-top: 0;
}

.error {
  font-size: 10px;
  color: rgb(229, 110, 110);
  margin: 10px 0 0 15px;
}
