.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color);
  z-index: 100;
  transition: border 1s, background 1s;
}

.link {
  padding-left: 10px;
  padding-right: 10px;
  color: var(--font-color);
  text-decoration: none;
  transition: border 1s, color 1s, text-shadow 0.5s ease;
}

.wrapper_1:after {
  content: "";
  background-color: var(--border-color);
  position: absolute;
  width: 1px;
  height: 80%;
  top: 6px;
  right: 254px;
  display: block;
  transition: background 1s;
}

.wrapper_2:after {
  content: "";
  background-color: var(--border-color);
  position: absolute;
  width: 1px;
  height: 80%;
  top: 6px;
  right: 149px;
  display: block;
  transition: background 1s;
}

.link:hover {
  text-shadow: 0 0 12px var(--font-color);
}

.link_margin {
  margin: 0 30px;
}

.link_padding {
  padding: 0 30px;
}

.github {
  position: absolute;
  top: 14.5px;
  left: 115px;
}

.github_logo {
  fill: var(--font-color);
  transform-origin: 50% 50%;
  transition: filter 0.5s ease, all 1s;
}

.github_logo:hover {
  filter: drop-shadow(0 0 5px var(--font-color));
  transform: scale(1.2);
}

.dropdown_menu_trigger {
  display: none;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  height: 100%;
  width: 58px;
}

.dropdown_menu_trigger_icon {
  position: absolute;
  right: 4px;
  top: 3px;
  z-index: 500;
  fill: var(--font-color);
  transition: fill 1s;
}

.dropdown_menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 5px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--background-color);
  z-index: 3;
  transition: background 1s, border 1s;
}

.dropdown_menu_arrow {
  position: absolute;
  border-top: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid var(--background-color);
  border-left: 11px solid transparent;
  right: 18px;
  top: 30px;
  z-index: 4;
  transition: border 1s;
  pointer-events: none;
}

.dropdown_menu_arrow_border {
  position: absolute;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--border-color);
  border-left: 10px solid transparent;
  right: 19px;
  top: 30px;
  z-index: 2;
  transition: border 1s;
  pointer-events: none;
}

.default {
  display: block !important;
}

.active {
  display: none !important;
}

.list {
  list-style-type: none;
  padding: 0 10px;
  margin: 0;
  z-index: 0;
}

.dropdown_menu_item {
  text-align: center;
  padding: 15px 0;
}

@media only screen and (max-width: 500px) {
  .dropdown_menu_trigger {
    display: block;
  }
  .active {
    display: block !important;
  }
  .default {
    display: none !important;
  }
}
